.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  border: 2px;
  border-color: #c0c0ff;
  border-style: solid;
  background-color: aliceblue;
  color: dimgray;
  text-align: center;
  padding: 8px;
}

.bookCard {
  max-width: 345px;
}

.bookCard-sm {
  max-width: 250px;
}

.Searchbar {
  display: block;
  width: 50%;
  text-align: center;
  margin: auto auto 29px;
}

.Search-header {
  text-align: center;
  color: dimgray;
}

.view-rate {
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.label{
  display: block;
}

.Form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 20px;
}

.Form input {
  width: 100%;
  height: 30px;
}

.Form textarea {
  width: 100%;
  height: 100px;
}

.Add {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.Add-buttons  {
  display:grid;
  grid-template-columns:auto auto 1fr;
  padding-bottom: 23px;
  grid-gap: 5px;
}

.bookView img {
  display: block;
  width: 70%;
}

.Description {
  display: block;
  overflow: auto;
  max-height: 100px;
}
