.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  border: 2px;
  border-color: #c0c0ff;
  border-style: solid;
  background-color: aliceblue;
  color: dimgray;
  text-align:center;
  padding: 8px;
}

.bookCard {
  max-width: 345px;
}

.Searchbar {
  display: block;
  width: 50%;
  text-align: center;
  margin: auto auto 29px;
}

.Search-header {
  text-align: center;
  color: dimgray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
